kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: fc-sc
provisioner: filecache.csi.aws.com
parameters:
  subnetId: subnet-074ea3b7386e4802b
  securityGroupIds: sg-046ad64768e4cf756,sg-02c92284b2c124cb2
  dataRepositoryAssociations: "FileCachePath=/ns1/,DataRepositoryPath=nfs://10.0.92.69/,NFS={Version=NFS3},DataRepositorySubdirectories=[subdir1,subdir2,subdir3]"
  fileCacheType: "LUSTRE"
  fileCacheTypeVersion: "2.12"
  weeklyMaintenanceStartTime: "7:00:00"
  LustreConfiguration: "DeploymentType=CACHE_1,PerUnitStorageThroughput=1000,MetadataConfiguration={StorageCapacity=2400}"
  copyTagsToDataRepositoryAssociations: "true"
  extraTags: "Tag1=Value1,Tag2=Value2"
mountOptions:
  - flock